html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
nav,
button,
section,
header,
footer,
title {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  font-family: cream;
}

header {
  padding: 25px;
  background: black;
  color: white;
  font-size: 15px;
  justify-content: space-between;
  display: flex;
}

.span1 {
  padding: 20px;
}

.menu {
  border-top: 0.5px solid white;
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: #000000;
  z-index: 1;
}

.menu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  margin-left: 50px;
}

.menu a:hover {
  color: black;
  background-color: white;
}

.menu a.active:hover {
  color: black;
  background-color: white;
}

.menu a.active {
  color: #b5e8d5;
}

.float_right {
  float: right !important;
}

section {
  background-color: #f9db79;
  height: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.logo {
  width: auto;
  height: 400px;
}

.mini-logo {
  width: auto;
  height: 60px;
}

.sectionContent {
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  min-height: 6em;
}

.side {
  flex: 50%;
  background-color: #f1f1f1;
}

.imgSide {
  width: 100%;
  height: auto;
}

.main {
  flex: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h6,
p {
  line-height: 1.6em;
  text-align: center;
}
p {
  padding-top: 60px;
  width: 300px;
}

h5 {
  letter-spacing: 0.05em;
  text-align: center;
}

.imgFondo {
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/helado5.png);
  background-color: #b5e8d5;
  width: 100%;
  height: 600px;
}

.imgFondo2 {
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/helado6.png);
  background-color: #ffbfb3;
  width: 100%;
  height: 600px;
}

.imgFondo3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9db79;
}

.footer {
  padding: 25px;
  text-align: center;
  background: black;
  color: white;
  font-size: 15px;
}

.menu-btn {
  background-color: white;
  border: 2px solid #2f2e2e;
  color: #2f2e2e;
  padding: 5px;
  width: 100px;
}
.menu-btn:hover {
  background-color: #2f2e2e;
  border: 2px solid #2f2e2e;
  color: white;
  padding: 5px;
  transition: border-color 0.4s, background-color 0.4s ease 0s;
}

.helados {
  width: 232px;
  height: 232px;
  display: flex;
  flex-wrap: wrap;
}

.center {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  align-items: center;
}

.block{
  display: block;
  float: left;
}

/* ------------------------------------------------------- Fuentes -----------------------------------------------------*/

@font-face {
  font-family: belinda;
  src: url(belinda.otf);
}

@font-face {
  font-family: cream;
  src: url(cream.otf);
}

/* ------------------------------------------------------- Media Queries -----------------------------------------------------*/
@media screen and (max-width: 992px) {
  .contenido {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    position: relative;
  }

  .menu a {
    float: none;
    width: 100%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 1400px) {
  .main {
    width: 100% !important;
  }
  .side {
    display: none;
  }

  .main {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1100px) {
  .img4 {
    width: 100%;
  }
}


/* ------------------------------------------------------- Sorting -----------------------------------------------------*/

*{
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cf{
	zoom:1
}

.cf:before,.cf:after{
	content:"";
	display:table
}

.cf:after{
	clear:both
}

.fl-l{
	float:left
}

.fl-r{
	float:right
}

a{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

html, body{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	text-align:center;
	color:#404040;
	position:relative;
}

.wrapper{
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	margin:30px auto 0;
	text-align:center;
  display: flex;
  flex-direction: row;
    justify-content: space-around;
}

.product{
	width:250px;
	margin-right:20px;
	background-color:#FFFFFF;
	position:relative;
}

.product:last-of-type{
	margin-right:0;
}

.container-prod{
	height:350px;
	overflow:hidden;
	position:relative;
	-moz-box-shadow: 0px 0px 0px 0px #F2F2F2;
	-webkit-box-shadow:  0px 0px 0px 0px #F2F2F2;
	box-shadow: 0px 0px 0px 0px #F2F2F2;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.container-prod:hover, .container-prod.information, .container-prod.social-sharing{
	-moz-box-shadow: 0px 0px 5px 0px #333;
	-webkit-box-shadow:  0px 0px 5px 0px #333;
	box-shadow: 0px 0px 5px 0px #333;
}

.image{
	height:270px;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}

.information .image{
	height:150px;
}

.container-information{
	height:40px;
	overflow:hidden;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
	background-color:#031E16;
	color:#FFFFFF;
}

.information .container-information{
	height:160px;
}

.container-information .title{
	height:40px;
	line-height:40px;
	padding:0 10px;
	background-color:#5DBA9D;
	color:#FFFFFF;
	font-size:20px;
	font-weight:bold;
	position:relative;
}

.close{
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	background-color:#11956c;
	position:absolute;
	right:-40px;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
	color:#FFFFFF;
}

.information .close{
	right:0;
}

.container-information .description{
	padding:10px;
	height:120px;
	overflow-x:hidden;
	overflow-y:auto;
}


.buttons{
	position:relative;
	z-index:2;
  background-color:#11956c;
}

.buttons a{
	text-align:center;
	width:25%;
	height:40px;
	line-height:40px;
	background-color:#11956c;
	color:#FFFFFF;
	text-decoration:none;
	position:relative;
	overflow:hidden;
}

.buttons a > span > span{
	position:relative;
	z-index:3;
	display:block;
	width:100%;
}

.buttons a > span:before{
	content:"";
	background-color:rgba(0,0,0,0);
	width:100%;
	height:40px;
	position:absolute;
	top:40px;
	left:0;
	z-index:1;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.buttons a:hover > span:before, .information .buttons a.more > span:before , .social-sharing .buttons a.share > span:before{
	top:0;
	background-color:rgba(0,0,0,0.5);
}


.buttons a.cart.added > span:before{
	top:0;
	background-color:rgba(255,255,255,0.8);
}

.buttons a.cart > span > span.check{
	width:100%;
	height:40px;
	position:absolute;
	top:40px;
	left:0;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.buttons a.cart.added > span > span.check{
	top:0;
	color:#11956c;
}

.buttons a.cart > span > span.add{
	width:100%;
	height:40px;
	position:absolute;
	top:0;
	left:0;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.buttons a.cart.added > span > span.add{
	top:-40px;
}

.buttons a i{
	font-size:20px;
}

.buttons a:first-of-type{
	width:50%;
}